:root {

}

body {
  /* background: #223; */
  background: url('../public/background/background.png');
  background-size: cover;
  background-position: center;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

.logout{
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 35px;
  display: block;
  margin: 20px auto;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  color: #fff;
  padding: 15px;
  transition: .5s;
  text-transform: capitalize;
  cursor: pointer;
}

.logout:hover{
  background: #fff;
  color: #000;
}

.logout{
  width: auto;
  padding: 0 20px;
  cursor: pointer;
  margin: 50px auto 0;
}